In [1]:
import pandas as pd
import random as rd

r_iat = []
r_st = []
r = int(input("Enter the number of customers: "))
iat = []
at = []
st = []
tsb = []
wt = []
tse = []
tss = []
ios = []

In [2]:
for q in range(0, r):
    if q == 0:
        r_iat.append('-')
    else:
        r_iat.append(rd.randint(0,1001))
for w in range(0, r):
    r_st.append(rd.randint(0,101))

print(f"RD. IAT: {r_iat}")
print(f"RD. ST: {r_st}")

RD. IAT: ['-', 889, 35, 144, 231, 241, 81, 468]
RD. ST: [81, 5, 86, 58, 6, 20, 26, 96]

In [3]:
# conditions

for i in r_iat:
  if i == '-':
    iat.append('-')
  elif i <= 125:
    iat.append(1)
  elif i <= 250:
    iat.append(2)
  elif i <= 375:
    iat.append(3)
  elif i <= 500:
    iat.append(4)
  elif i <= 625:
    iat.append(5)
  elif i <= 750:
    iat.append(6)
  elif i <= 875:
    iat.append(7)
  else:
    iat.append(8)

print(f"IAT: {iat}")

IAT: ['-', 8, 1, 2, 2, 2, 1, 4]

In [4]:
c = 0
l = len(iat)
for j in iat:
  if j == '-':
    at.append(0)
  else:
    c = c + j
    at.append(c)
print(f"AT: {at}")

AT: [0, 8, 9, 11, 13, 15, 16, 20]

In [5]:
for s in r_st:
  if s <= 10:
    st.append(1)
  elif s <= 30:
    st.append(2)
  elif s <= 60:
    st.append(3)
  elif s <= 85:
    st.append(4)
  elif s <= 95:
    st.append(5)
  else:
    st.append(6)

print(f"ST: {st}")

ST: [4, 1, 5, 3, 1, 2, 2, 6]

In [6]:
# ios = current tsb - pre. tse
# wt = tsb - at
# tss = wt -st


for k in range (0,r):
  if k == 0:
    tsb.append(0)
    wt.append(0)
    tse.append(st[k])
    tss.append(st[k]+wt[k])
    ios.append(0)
  else:
    tsb.append(max(tse[k-1], at[k]))
    wt.append(tsb[k]-at[k])
    tse.append(tsb[k]+st[k])
    tss.append(wt[k]+st[k])
    ios.append(tsb[k]-tse[k-1])
print(f"TSB: {tsb}")
print(f"WT: {wt}")
print(f"TSE: {tse}")
print(f"TSS: {tss}")
print(f"IOS: {ios}")

TSB: [0, 8, 9, 14, 17, 18, 20, 22]
WT: [0, 0, 0, 3, 4, 3, 4, 2]
TSE: [4, 9, 14, 17, 18, 20, 22, 28]
TSS: [4, 1, 5, 6, 5, 5, 6, 8]
IOS: [0, 4, 0, 0, 0, 0, 0, 0]

In [7]:
l = []
counter = 1
for n in range(0, r):
  fl = {}
  fl["Customer"] = counter
  counter += 1
  fl["RD. IAT"] = r_iat[n]
  fl["IAT"] = iat[n]
  fl["AT"] = at[n]
  fl["RD. ST"] = r_st[n]
  fl["ST"] = st[n]
  fl["TSB"] = tsb[n]
  fl["WT"] = wt[n]
  fl["TSE"] = tse[n]
  fl["TSS"] = tss[n]
  fl["IOS"] = ios[n]
  l.append(fl)

df = pd.DataFrame(l)
df.to_csv('grocery.csv')
print(l)

[{'Customer': 1, 'RD. IAT': '-', 'IAT': '-', 'AT': 0, 'RD. ST': 81, 'ST': 4, 'TSB': 0, 'WT': 0, 'TSE': 4, 'TSS': 4, 'IOS': 0}, {'Customer': 2, 'RD. IAT': 889, 'IAT': 8, 'AT': 8, 'RD. ST': 5, 'ST': 1, 'TSB': 8, 'WT': 0, 'TSE': 9, 'TSS': 1, 'IOS': 4}, {'Customer': 3, 'RD. IAT': 35, 'IAT': 1, 'AT': 9, 'RD. ST': 86, 'ST': 5, 'TSB': 9, 'WT': 0, 'TSE': 14, 'TSS': 5, 'IOS': 0}, {'Customer': 4, 'RD. IAT': 144, 'IAT': 2, 'AT': 11, 'RD. ST': 58, 'ST': 3, 'TSB': 14, 'WT': 3, 'TSE': 17, 'TSS': 6, 'IOS': 0}, {'Customer': 5, 'RD. IAT': 231, 'IAT': 2, 'AT': 13, 'RD. ST': 6, 'ST': 1, 'TSB': 17, 'WT': 4, 'TSE': 18, 'TSS': 5, 'IOS': 0}, {'Customer': 6, 'RD. IAT': 241, 'IAT': 2, 'AT': 15, 'RD. ST': 20, 'ST': 2, 'TSB': 18, 'WT': 3, 'TSE': 20, 'TSS': 5, 'IOS': 0}, {'Customer': 7, 'RD. IAT': 81, 'IAT': 1, 'AT': 16, 'RD. ST': 26, 'ST': 2, 'TSB': 20, 'WT': 4, 'TSE': 22, 'TSS': 6, 'IOS': 0}, {'Customer': 8, 'RD. IAT': 468, 'IAT': 4, 'AT': 20, 'RD. ST': 96, 'ST': 6, 'TSB': 22, 'WT': 2, 'TSE': 28, 'TSS': 8, 'IOS': 0}]

In [8]:
d = pd.read_csv('grocery.csv')
d.pop('Unnamed: 0')
d

   Customer RD. IAT IAT  AT  RD. ST  ST  TSB  WT  TSE  TSS  IOS
0         1       -   -   0      81   4    0   0    4    4    0
1         2     889   8   8       5   1    8   0    9    1    4
2         3      35   1   9      86   5    9   0   14    5    0
3         4     144   2  11      58   3   14   3   17    6    0
4         5     231   2  13       6   1   17   4   18    5    0
5         6     241   2  15      20   2   18   3   20    5    0
6         7      81   1  16      26   2   20   4   22    6    0
7         8     468   4  20      96   6   22   2   28    8    0