In [82]:
import pandas as pd
import random as rd

r_iat = []
r_st = []
r = int(input("Enter the number of customers: "))
iat = []
at = []
st = []
tsb = []
wt = []
tse = []
tss = []
ios = []

In [83]:
for q in range(0, r):
    if q == 0:
        r_iat.append('-')
    else:
        r_iat.append(rd.randint(0,1001))
for w in range(0, r):
    r_st.append(rd.randint(0,101))

print(f"RD. IAT: {r_iat}")
print(f"RD. ST: {r_st}")

RD. IAT: ['-', 942, 619, 790, 296, 266, 582, 828]
RD. ST: [25, 43, 79, 99, 67, 50, 85, 50]

In [84]:
# conditions

for i in r_iat:
  if i == '-':
    iat.append('-')
  elif i <= 125:
    iat.append(1)
  elif i <= 250:
    iat.append(2)
  elif i <= 375:
    iat.append(3)
  elif i <= 500:
    iat.append(4)
  elif i <= 625:
    iat.append(5)
  elif i <= 750:
    iat.append(6)
  elif i <= 875:
    iat.append(7)
  else:
    iat.append(8)

print(f"IAT: {iat}")

IAT: ['-', 8, 5, 7, 3, 3, 5, 7]

In [85]:
c = 0
l = len(iat)
for j in iat:
  if j == '-':
    at.append(0)
  else:
    c = c + j
    at.append(c)
print(f"AT: {at}")

AT: [0, 8, 13, 20, 23, 26, 31, 38]

In [86]:
for s in r_st:
  if s <= 10:
    st.append(1)
  elif s <= 30:
    st.append(2)
  elif s <= 60:
    st.append(3)
  elif s <= 85:
    st.append(4)
  elif s <= 95:
    st.append(5)
  else:
    st.append(6)

print(f"ST: {st}")

ST: [2, 3, 4, 6, 4, 3, 4, 3]

In [87]:
# ios = current tsb - pre. tse
# wt = tsb - at
# tss = wt -st


for k in range (0,r):
  if k == 0:
    tsb.append(0)
    wt.append(0)
    tse.append(st[k])
    tss.append(st[k]+wt[k])
    ios.append(0)
  else:
    tsb.append(max(tse[k-1], at[k]))
    wt.append(tsb[k]-at[k])
    tse.append(tsb[k]+st[k])
    tss.append(wt[k]+st[k])
    ios.append(tsb[k]-tse[k-1])
print(f"TSB: {tsb}")
print(f"WT: {wt}")
print(f"TSE: {tse}")
print(f"TSS: {tss}")
print(f"IOS: {ios}")

TSB: [0, 8, 13, 20, 26, 30, 33, 38]
WT: [0, 0, 0, 0, 3, 4, 2, 0]
TSE: [2, 11, 17, 26, 30, 33, 37, 41]
TSS: [2, 3, 4, 6, 7, 7, 6, 3]
IOS: [0, 6, 2, 3, 0, 0, 0, 1]

In [88]:
l = []
counter = 1
for n in range(0, r):
  fl = {}
  fl["Customer"] = counter
  counter += 1
  fl["RD. IAT"] = r_iat[n]
  fl["IAT"] = iat[n]
  fl["AT"] = at[n]
  fl["RD. ST"] = r_st[n]
  fl["ST"] = st[n]
  fl["TSB"] = tsb[n]
  fl["WT"] = wt[n]
  fl["TSE"] = tse[n]
  fl["TSS"] = tss[n]
  fl["IOS"] = ios[n]
  l.append(fl)

df = pd.DataFrame(l)
df.to_csv('grocery.csv')
print(l)

[{'Customer': 1, 'RD. IAT': '-', 'IAT': '-', 'AT': 0, 'RD. ST': 25, 'ST': 2, 'TSB': 0, 'WT': 0, 'TSE': 2, 'TSS': 2, 'IOS': 0}, {'Customer': 2, 'RD. IAT': 942, 'IAT': 8, 'AT': 8, 'RD. ST': 43, 'ST': 3, 'TSB': 8, 'WT': 0, 'TSE': 11, 'TSS': 3, 'IOS': 6}, {'Customer': 3, 'RD. IAT': 619, 'IAT': 5, 'AT': 13, 'RD. ST': 79, 'ST': 4, 'TSB': 13, 'WT': 0, 'TSE': 17, 'TSS': 4, 'IOS': 2}, {'Customer': 4, 'RD. IAT': 790, 'IAT': 7, 'AT': 20, 'RD. ST': 99, 'ST': 6, 'TSB': 20, 'WT': 0, 'TSE': 26, 'TSS': 6, 'IOS': 3}, {'Customer': 5, 'RD. IAT': 296, 'IAT': 3, 'AT': 23, 'RD. ST': 67, 'ST': 4, 'TSB': 26, 'WT': 3, 'TSE': 30, 'TSS': 7, 'IOS': 0}, {'Customer': 6, 'RD. IAT': 266, 'IAT': 3, 'AT': 26, 'RD. ST': 50, 'ST': 3, 'TSB': 30, 'WT': 4, 'TSE': 33, 'TSS': 7, 'IOS': 0}, {'Customer': 7, 'RD. IAT': 582, 'IAT': 5, 'AT': 31, 'RD. ST': 85, 'ST': 4, 'TSB': 33, 'WT': 2, 'TSE': 37, 'TSS': 6, 'IOS': 0}, {'Customer': 8, 'RD. IAT': 828, 'IAT': 7, 'AT': 38, 'RD. ST': 50, 'ST': 3, 'TSB': 38, 'WT': 0, 'TSE': 41, 'TSS': 3, 'IOS': 1}]

In [89]:
d = pd.read_csv('grocery.csv')
d

   Unnamed: 0  Customer RD. IAT IAT  AT  RD. ST  ST  TSB  WT  TSE  TSS  IOS
0           0         1       -   -   0      25   2    0   0    2    2    0
1           1         2     942   8   8      43   3    8   0   11    3    6
2           2         3     619   5  13      79   4   13   0   17    4    2
3           3         4     790   7  20      99   6   20   0   26    6    3
4           4         5     296   3  23      67   4   26   3   30    7    0
5           5         6     266   3  26      50   3   30   4   33    7    0
6           6         7     582   5  31      85   4   33   2   37    6    0
7           7         8     828   7  38      50   3   38   0   41    3    1