In [161]:
import pandas as pd
import random as rd

#r_iat = ['-', 26, 98, 90, 26, 42]
#r_st = [95, 21, 51, 92, 89, 38]
r_iat = []
r_st = []
r = int(input("Enter the number of customers: "))
iat = []
at = []
st_a = []
tsb_a = []
tse_a = []
st_b = []
tsb_b = []
tse_b = []
wt = []
tss = []

In [162]:
for q in range(0, r):
    if q == 0:
        r_iat.append('-')
    else:
        r_iat.append(rd.randint(0,1001))
for w in range(0, r):
    r_st.append(rd.randint(0,101))

print(f"RD. IAT: {r_iat}")
print(f"RD. ST: {r_st}")

RD. IAT: ['-', 649, 751, 556, 934, 64]
RD. ST: [86, 77, 15, 46, 12, 92]

In [163]:
# conditions

for i in r_iat:
  if i == '-':
    iat.append('-')
  elif i <= 25:
    iat.append(1)
  elif i <= 65:
    iat.append(2)
  elif i <= 85:
    iat.append(3)
  elif i <= 100:
    iat.append(4)
  else:
    iat.append(4)

print(f"IAT: {iat}")

IAT: ['-', 4, 4, 4, 4, 2]

In [164]:
c = 0
for j in iat:
  if j == '-':
    at.append(0)
  else:
    c = c + j
    at.append(c)
print(f"AT: {at}")

AT: [0, 4, 8, 12, 16, 18]

In [165]:
def st_ab(able_st):
  if able_st <= 30:
    return 2
  elif able_st <= 58:
    return 3
  elif able_st <= 83:
    return 4
  else:
    return 5

def st_ba(baker_st):
  if baker_st <= 35:
    return 3
  elif baker_st <= 60:
    return 4
  elif baker_st <= 80:
    return 5
  else:
    return 6

In [166]:
k = 0
g = 0
for i in range(0, r):
    if i == 0:
        tsb_a.append(0)
        st_a.append(st_ab(r_st[i]))
        tse_a.append(tsb_a[i] + st_a[i])
        tsb_b.append(0)
        st_b.append(0)
        tse_b.append(0)
        wt.append(tsb_a[i] - at[i])
        tss.append(st_a[i] + wt[i])
        k = tse_b[i]
        g = tse_a[i]
    else:
        if at[i] == g:
          if tse_a[i-2] > at[i]:
                tsb_a.append(tse_a[i-2])
          else:
                tsb_a.append(at[i])
                tsb_b.append(0)
                st_b.append(0)
                tse_b.append(0)
                st_a.append(st_ab(r_st[i]))
                tse_a.append(tsb_a[i] + st_a[i])
                wt.append(tsb_a[i] - at[i])
                tss.append(st_a[i] + wt[i])
                k = tse_b[i]
                g = tse_a[i]  
        elif at[i] <= k and at[i] >= g:
            if tse_a[i-2] > at[i]:
                tsb_a.append(tse_a[i-2])
            else:
                tsb_a.append(at[i])
            tsb_b.append(0)
            st_b.append(0)
            tse_b.append(0)
            st_a.append(st_ab(r_st[i]))
            tse_a.append(tsb_a[i] + st_a[i])
            wt.append(tsb_a[i] - at[i])
            tss.append(st_a[i] + wt[i])
            k = tse_b[i]
            g = tse_a[i]
            
    
        elif at[i] >= k and at[i] <= g:
            if tse_b[i - 2] > at[i]:
                tsb_b.append(tse_b[i - 2])
            else:
                tsb_b.append(at[i])
            tsb_a.append(0)
            st_a.append(0)
            tse_a.append(0)
            st_b.append(st_ba(r_st[i]))
            tse_b.append(tsb_b[i] + st_b[i])
            wt.append(tsb_b[i] - at[i])
            tss.append(st_b[i] + wt[i])
            k = tse_b[i]
            g = tse_a[i]
        else:
            if tse_a[i-2] > at[i]:
                tsb_a.append(tse_a[i-2])
            else:
                tsb_a.append(at[i])
            tsb_b.append(0)
            st_b.append(0)
            tse_b.append(0)
            st_a.append(st_ab(r_st[i]))
            tse_a.append(tsb_a[i] + st_a[i])
            wt.append(tsb_a[i] - at[i])
            tss.append(st_a[i] + wt[i])
            k = tse_b[i]
            g = tse_a[i]

            
    

# Final output of all lists
print(f"tsb_a {tsb_a}")
print(f"st_a {st_a}")
print(f"tse_a {tse_a}")
print(f"tsb_b {tsb_b}")
print(f"st_b {st_b}")
print(f"tse_b {tse_b}")
print(f"wt {wt}")
print(f"tss {tss}")

tsb_a [0, 0, 8, 12, 16, 18]
st_a [5, 0, 2, 3, 2, 5]
tse_a [5, 0, 10, 15, 18, 23]
tsb_b [0, 4, 0, 0, 0, 0]
st_b [0, 5, 0, 0, 0, 0]
tse_b [0, 9, 0, 0, 0, 0]
wt [0, 0, 0, 0, 0, 0]
tss [5, 5, 2, 3, 2, 5]

In [167]:
l = []
counter = 1
for n in range(0, r):
  fl = {}
  fl[(" ", "Customer")] = counter
  counter += 1
  fl[(" ", "RD. IAT")] = r_iat[n]
  fl[(" ", "IAT")] = iat[n]
  fl[(" ", "AT")] = at[n]
  fl[(" ", "RD. ST")] = r_st[n]
  fl[("Able", "TSB")] = tsb_a[n]
  fl[("Able", "ST")] = st_a[n]
  fl[("Able", "TSE")] = tse_a[n]
  fl[("Baker", "TSB")] = tsb_b[n]
  fl[("Baker", "ST")] = st_b[n]
  fl[("Baker", "TSE")] = tse_b[n]
  fl[(" ", "Caller Delay")] = wt[n]
  fl[(" ", "TSS")] = tss[n]
  l.append(fl)

df = pd.DataFrame(l)
df.to_csv('caller.csv')
print(l)

[{(' ', 'Customer'): 1, (' ', 'RD. IAT'): '-', (' ', 'IAT'): '-', (' ', 'AT'): 0, (' ', 'RD. ST'): 86, ('Able', 'TSB'): 0, ('Able', 'ST'): 5, ('Able', 'TSE'): 5, ('Baker', 'TSB'): 0, ('Baker', 'ST'): 0, ('Baker', 'TSE'): 0, (' ', 'Caller Delay'): 0, (' ', 'TSS'): 5}, {(' ', 'Customer'): 2, (' ', 'RD. IAT'): 649, (' ', 'IAT'): 4, (' ', 'AT'): 4, (' ', 'RD. ST'): 77, ('Able', 'TSB'): 0, ('Able', 'ST'): 0, ('Able', 'TSE'): 0, ('Baker', 'TSB'): 4, ('Baker', 'ST'): 5, ('Baker', 'TSE'): 9, (' ', 'Caller Delay'): 0, (' ', 'TSS'): 5}, {(' ', 'Customer'): 3, (' ', 'RD. IAT'): 751, (' ', 'IAT'): 4, (' ', 'AT'): 8, (' ', 'RD. ST'): 15, ('Able', 'TSB'): 8, ('Able', 'ST'): 2, ('Able', 'TSE'): 10, ('Baker', 'TSB'): 0, ('Baker', 'ST'): 0, ('Baker', 'TSE'): 0, (' ', 'Caller Delay'): 0, (' ', 'TSS'): 2}, {(' ', 'Customer'): 4, (' ', 'RD. IAT'): 556, (' ', 'IAT'): 4, (' ', 'AT'): 12, (' ', 'RD. ST'): 46, ('Able', 'TSB'): 12, ('Able', 'ST'): 3, ('Able', 'TSE'): 15, ('Baker', 'TSB'): 0, ('Baker', 'ST'): 0, ('Baker', 'TSE'): 0, (' ', 'Caller Delay'): 0, (' ', 'TSS'): 3}, {(' ', 'Customer'): 5, (' ', 'RD. IAT'): 934, (' ', 'IAT'): 4, (' ', 'AT'): 16, (' ', 'RD. ST'): 12, ('Able', 'TSB'): 16, ('Able', 'ST'): 2, ('Able', 'TSE'): 18, ('Baker', 'TSB'): 0, ('Baker', 'ST'): 0, ('Baker', 'TSE'): 0, (' ', 'Caller Delay'): 0, (' ', 'TSS'): 2}, {(' ', 'Customer'): 6, (' ', 'RD. IAT'): 64, (' ', 'IAT'): 2, (' ', 'AT'): 18, (' ', 'RD. ST'): 92, ('Able', 'TSB'): 18, ('Able', 'ST'): 5, ('Able', 'TSE'): 23, ('Baker', 'TSB'): 0, ('Baker', 'ST'): 0, ('Baker', 'TSE'): 0, (' ', 'Caller Delay'): 0, (' ', 'TSS'): 5}]

In [168]:
d = pd.read_csv('caller.csv')
d.pop("Unnamed: 0")
d

,"(' ', 'Customer')","(' ', 'RD. IAT')","(' ', 'IAT')","(' ', 'AT')","(' ', 'RD. ST')","('Able', 'TSB')","('Able', 'ST')","('Able', 'TSE')","('Baker', 'TSB')","('Baker', 'ST')","('Baker', 'TSE')","(' ', 'Caller Delay')","(' ', 'TSS')"
0,1,-,-,0,86,0,5,5,0,0,0,0,5
1,2,649,4,4,77,0,0,0,4,5,9,0,5
2,3,751,4,8,15,8,2,10,0,0,0,0,2
3,4,556,4,12,46,12,3,15,0,0,0,0,3
4,5,934,4,16,12,16,2,18,0,0,0,0,2
5,6,64,2,18,92,18,5,23,0,0,0,0,5